@charset "utf-8";

body {
    min-width: 320px;
}

p{
    font-size: 0.8rem;
}
.nav-item span {
    font-size: 0.8rem;

}

.nav-item {
    margin-right: -1px;
}

.sec01img01 {
    width: 225px;
    height: 304px;
}
.nav-link, .nav-link:link, .nav-link:visited, .nav-link:active, .submenu-link, .submenu-link:link, .submenu-link:visited, .submenu-link:active {
    letter-spacing: 2px; 
}
.text01,
.text02,
.text03 h2 {
    font-size: 0.8rem;
}

.hersheysdata01 .box-right {
    width: 65%;

    padding-left: 1px;
}

.hersheysdata01 {
    position: relative;
    padding: 7px 20px 11px;
    overflow: hidden;
}

.hersheysdata01 .box-right {
    width: 100%;
    padding-left: 1px;
}

.sec01text {
    height: 644px;
}

.sec01text h2 {
    font-size: 1rem;
    margin: 21px 0px 0px 0px;
}

.text01,
.text02,
.text03 {
    width: 100%;

    color: #33100c;
}
.imglist_ul {
    width: 542px;}
.screen p{
font-size: 0.8rem;
}
.sectext {
    border: solid 3px #d4a822;
    text-align: center;
    color: rgb(255 239 231);
    position: none;
    
}

.sec03Companytext h1{
    padding: 14px 45px 17px 12px;
}
.sec03Companytext p {
    line-height: 28px;
    padding: 0 12px 0 12px;
}

.sec03Company {
    height: 732px;
}

footer {
    flex-direction: column;
    font-size:0.8rem;
}
a h3 {
    font-size: 14px;}
address {
    font-size: 0.8rem;}
.company, address {
    margin: 8px 0px 0 14px;}
