@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* Abril+Fatface 폰트 */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */

}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;

}

.wrap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
}


.sec01 h1 {
    /* writing-mode: vertical-rl; */
    text-orientation: mixed;
    color: #421010;
    padding: 70px 45px 0px 94px;
    font-size: 3rem;
    font-family: Abril Fatface;

}

:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: rgb(19, 14, 14);
}


a:link,
a:visited {
  color: #1d1c1c;
  ;
  text-decoration: none
}

a:active {
  color: #421010;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

li {
  list-style-type: none;
}

/* section:nth-of-type(1) {
  background: #a79797
} */

section:nth-of-type(2) {
  background: #f0eeee;
}

/* section:nth-of-type(3) {
  background: #2c5a419d;
} */

section:nth-of-type(4) {
  background: #58594D
}

section.sec01 .sec01img{
  background: url(../imges/index/sec01.png) no-repeat;
  background-size: cover;
  width:100%;
  height: 820px;
}

/* sec02 */

.sec02 h1 {
  font-size: 2rem;
  color: #421010;
  padding: 20px;
  font-family: Abril Fatface;
}

.sec02.inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.sec02 span {
  color: #970b0b;
  font-size: 1.2rem;
}

.sec02.text {
  display: flex;
  width: 450px;
  height: 405px;
  flex-wrap: wrap;
  flex-direction: column;
}

.sec02.innerimg {
  background: url(../imges/index/redall1.png) no-repeat;
  background-size: contain;
  width: 490px;
  height: 910px;
}

.sec02.innerimg01 {
  background: url(../imges/index/redpng.png) no-repeat;
  background-size: contain;
  width: 164px;
  height: 450px;
  position: relative;
  top: 516px;
  right: 116px;

}

.sec02 {
  line-height: 28px;
}


.sec02.text p {
  font-size: 1.1rem;
  color: #1d1c1c;
}

section.sec02 .main {
  font-size: 1rem;
  text-align: center;
  margin: 36px 10px 0 10px;
  border: 1px solid #5f514f;
  border-radius: 15px;
  padding: 12px 0 12px 0;
  width: 120px;
  height: 50px;
  -webkit-border-radius: 15px;

}

.page {
  display: flex;
  justify-content: center;

}


/* SEC03 */
section.sec03 {
  background: url(../imges/index/hssec00003.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 1089px;
  overflow: hidden;

}

.sec03 h1 {
  font-size: 2rem;
  color: #421010;
  padding: 20px;
  font-family: Abril Fatface;
}

.sec03.inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
}

.sec03 span {
  color: #970b0b;
  font-size: 1.2rem;
}

.sec03.text {
  display: flex;
  width: 450px;
  height: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.sec03.innerimg {
  background: url(../imges/index/hsmain0001.png) no-repeat;
  background-size: contain;
  width: 460px;
  height: 910px;
}

.sec03.innerimg01 {
  background: url(../imges/index/hsm.png) no-repeat;
  background-size: contain;
  width: 175px;
  height: 450px;
  position: relative;
  top: 496px;
  right: -420px;

}

.sec03 {
  line-height: 28px;
}

.sec03.text p {
  font-size: 1.1rem;
  color: #1d1c1c;
}

.main:hover {
  background-color: #a7979766;
  background-size: contain;
}

section.sec03 .main  {
  font-size: 1rem;
  text-align: center;
  margin: 274px 84px 0 -133px;
  border: 1px solid #5f514f;
  border-radius: 15px;
  padding: 12px 0 12px 0;
  width: 120px;
  height: 50px;
}

/* sec04 */
.sec04 h1 {
  font-size: 3rem;
}
.sec04 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Abril Fatface;
  font-size: 2rem;
  color: #421010;
  margin: 0 auto;
  align-content: center;
  flex-direction: column;
 
}
