@charset "utf-8";

body {
   
   
    min-width: 320px;
}

/* section.sec01 {
padding: 200px 59px 200x 59px;
} */

.wrap {
    scroll-snap-type: none;
}
.words span {
    font-size: 60px;
}

.sec01 h1 {
    font-size: 1.5rem;
}

.sec01 h1 {
    color: #421010;
    padding: 200px 45px 0px 94px
}
.sec02.text p,
.sec03.text p {
    font-size: 1rem;}

.section.sec01 .sec01img {
    background-size: contain;
    width: 750px;
    height: 115px;
}

section.sec02 {
    height: 200vh;
}

.sec02 h1,
.sec03 h1 {
    margin-left: 20px;
    font-size: 1.8rem;
}



section.sec02 .mainlink {
    top: 1294px;
    left: -233px;

}

.sec02.text {
    width: 282px;
    height: 447px;
}

.sec03.text {
    width: 282px;
    height: 300px;
}
.sec02.innerimg {
    top: -4px;
    left: 4px;
    width: 290px;
    height: 825px;
}

.sec03.innerimg {
    top: 60px;
    left: 0px;
    width: 290px;
    height: 825px;
}

.section.sec03 {
    background: none;
}
.sec02.innerimg01 {
    top: 510px;
    right: -67px;
}

.sec03.innerimg01 {
    top: 546px;
    right: -61px;
}
section.sec03 {
    height: 200vh;
}

section.sec02 .main {
    position: relative;
    top: 1264px;
    left: -246px;
}
.sec03.innerimg01 {
    top: 52px;
    right: -69px;
}
section.sec03 .main {
    position: relative;
    top: 1254px;
    left: -190px;
}
.sec03 .mainlink {
    padding: 10px 40px 10px 40px;
    top: 1290px;
    right: 226px;}
.page {
    flex-direction: column;
}

section.sec02 .main {
    font-size: 0.9rem;
    text-align: center;
    margin: 9px 0px 0 9px;
    border: 1px solid #201412;
    border-radius: -136px;
    padding: 11px;
    width: 95px;
    height: 50px;
    -webkit-border-radius: 250px;
}

section.sec03 .main {
    font-size: 0.9rem;
    text-align: center;
    margin: 9px 0px 0 9px;
    border: 1px solid #201412;
    border-radius: -136px;
    padding: 11px;
    width: 95px;
    height: 50px;
    -webkit-border-radius: 250px;
}

.sec04 {
    flex-direction: row;
    font-size: 1rem;
}

.sec04 h1 {
    font-size: 1.5rem;
    margin-right: 5px;
}
section.sec04 {
    height: 50vh;
}