@charset "utf-8";

body {
    overflow-x: hidden;
    min-width: 320px;
}
section.sec01 .sec01img {
    background-size: contain;

}
.sec01 h1 {
    font-size: 1.5rem;
}
.sec01 h1 {
    color: #421010;
    padding: 200px 45px 0px 94px
}
.section.sec01 .sec01img {
    background-size: contain;
    width: 750px;
    height: 115px;}
.sec02 h1 {
    padding: 122px;
    font-size: 1.8rem;
}
.sec03 h1 {
    padding: 122px;
    font-size: 1.8rem;
}

.sec02.text {
    width: 282px;
    height: 447px;
}
.sec03.text {
    width: 282px;
    height: 300px;
}

.sec02.innerimg {
    top: -18px;
    left: 4px;
    width: 290px;
    height: 825px;
}

.sec03.innerimg {
    top: 60px;
    left: 4px;
    width: 290px;
    height: 825px;
}
section.sec01 {
    height: 100vh;
}
section.sec02 {
    height: 230vh;
}

section.sec03 {
        height: 234vh;
}
section.sec04 {
    height: 15vh;
}
.sec02.innerimg01 {
    top: 510px;
    right: -3px;
}
.sec03.innerimg01 {
    top: 546px;
    right: 2px;
}

section.sec02 .main {
    position: relative;
    top: 1041px;
    left: -124px;
}

section.sec03 .main {
    position: relative;
    top: 1038px;
    left: -112px;
}
.page {    
 flex-direction: column;
}

section.sec02 .main {
    font-size: 0.9rem;
    text-align: center;
    margin: 9px 0px 0 9px;
    border: 1px solid #201412;
    border-radius: -136px;
    padding: 11px;
    width: 95px;
    height: 50px;
    -webkit-border-radius: 250px;
}
section.sec03 .main {
    font-size: 0.9rem;
    text-align: center;
    margin: 9px 0px 0 9px;
    border: 1px solid #201412;
    border-radius: -136px;
    padding: 11px;
    width: 95px;
    height: 50px;
    -webkit-border-radius: 250px;
}
.sec04 {
flex-direction: row;
font-size: 0.9rem;}
.sec04 h1{
    font-size: 1rem;
    margin-right: 5px;
}