@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* Abril+Fatface 폰트 */
@import 'https://fonts.googleapis.com/css?family=Rubik+Mono+One';


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */

}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;

}

.wrap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}


/* 
.sec01 h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #421010;
    padding: 70px 45px 0px 94px;
    font-size: 3rem;
    font-family: Abril Fatface;
} */


:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: rgb(19, 14, 14);
}


a:link,
a:visited {
  color: #ffffff;
  ;
  text-decoration: none
}

a:active {
  color: #421010;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

li {
  list-style-type: none;
}



section:nth-of-type(4) {                                                                 
  background: #ffffff
}



.sec01 h1 {
  display: none;

}

section.sec01 {
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  font-family: "Rubik Mono One", sans-serif;
  padding: 400px;
  text-align: center;

}

.words {
  color: rgb(255, 255, 255);
  font-size: 0;
  line-height: 1;
}

.words span {
  font-size: 120px;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
  -webkit-animation: move 3s ease-in-out infinite;
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

.words span:nth-child(8) {
  animation-delay: 3.5s;
}

.words span:nth-child(9) {
  animation-delay: 4s;
}

@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }

  50% {
    text-shadow: 0 21px 20px rgba(75, 74, 74, 0.6);
  }

  100% {
    transform: translate(33%, 0);
  }
}

/* sec02 */

.sec02 h1 {
  font-size: 2rem;
  color: #421010;
  padding: 20px;
  font-family: Abril Fatface;
}

.sec02.inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.sec02 span {
  color: #970b0b;
  font-size: 1.2rem;
}

.sec02.text {
  display: flex;
  width: 450px;
  height: 405px;
  flex-wrap: wrap;
  flex-direction: column;
}

.sec02.innerimg {
  background: url(../imges/index/redall1.png) no-repeat;
  background-size: contain;
  width: 490px;
  height: 910px;
  position: relative;
  top:60px;

}

.sec02.innerimg01 {
  background: url(../imges/index/redpng.png) no-repeat;
  background-size: contain;
  width: 164px;
  height: 450px;
  position: relative;
  top: 516px;
  right: 116px;

}

.sec02 {
  line-height: 28px;
}


.sec02.text p {
  font-size: 1rem;
  color: #1d1c1c;
}

section.sec02 .mainlink {
  background: rgb(218, 2, 2);
  color: rgb(240, 8, 8);
  border: 0;
  font-size: 1em;
  letter-spacing: 0px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  position: relative;
  top: 50px;
  left: 75px;
  overflow: hidden;
  border-radius: 38px;
  border: 1px solid#a5a4a4a4;
  text-align: center;
}
.sec02.innerimg01 {
  height: 304px;
}
section.sec02 .mainlink:hover {
  background: rgb(255, 255, 255);
  color: rgb(255, 0, 0);
  transition: all 0.8s;
}

section.sec02 .mainlink a:hover {
  color: rgb(255, 0, 0);
}

.page {
  display: flex;
  

}


/* SEC03 */
section.sec03 {
  height: 100%;
  width: 100%;
  background: url(../imges/index/hssec00003.png) center center no-repeat;
    background-size: cover;
    background-position-y: 0;
    animation: hs 30s linear infinite;
}

@keyframes hs {
  0%   { background-size: 100% auto; }
  50% { background-size: 108% auto; }
  100% { background-size: 100% auto; }
}

.sec03 .mySlides {
  display: none;
}

.sec03 h1 {
  font-size: 2rem;
  color: #421010;
  padding: 20px;
  font-family: Abril Fatface;
}

.sec03.inner {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.sec03 span {
  color: #970b0b;
  font-size: 1.2rem;
}

/* .sec03.text {
  display: flex;
  width: 500px;
  height: 800px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

} */


.sec03.text {
display: flex;
width: 500px;
height: 688px;
flex-wrap: wrap;
flex-direction: column;
}

.sec03.innerimg{
  position: relative;
  top: 60px;
  left: 20px;
}

.sec03.innerimg01 {
  background: url(../imges/index/hsm.png) no-repeat;
  background-size: contain;
  width: 175px;
  height: 304px;
  position: relative;
  top: -342px;
  right: -451px;

}

.sec03 {
  line-height: 28px;
}

.sec03.text p {
  font-size: 1rem;
  color: #1d1c1c;
}

.sec03 .mainlink:hover {
  background: rgba(255, 255, 255, 0.432);
  color: rgb(49, 21, 21);
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
 
}

.sec03 .mainlink a:hover {
  color: rgb(59, 13, 13);
}

.sec03 .mainlink {
  left: 82px;
  background: rgb(48, 20, 20);
  color: rgb(59, 20, 20);
  border: 0;
  font-size: 1em;
  letter-spacing: 0px;
  padding: 10px 46px 10px 45px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  position: relative;
  top: 50px;
  text-align: center;
  overflow: hidden;
  border: 1px solid#a5a4a4a4;
  border-radius: 38px;
}

/* sec04 */
.sec04 h1 {
  font-size: 3rem;
}

.sec04 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Abril Fatface;
  font-size: 2rem;
  color: #421010;
  margin: 0 auto;
  align-content: center;
  flex-direction: column;

}
