@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* Abril+Fatface 폰트 */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */

}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap {
    height: 100vh;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
}

a {
    text-decoration: none;
}
.sec01 h1{
  padding: 80px 10px 0px 60px;
    font-size: 12rem;
    font-family: Abril Fatface;
    
  
}
:root {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color:#fff;
}


a:link,
a:visited {
    color: #1d1c1c;
    ;
    text-decoration: none
}



a:active {
    color: #d1b6b3;
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

li {
    list-style-type: none;
}

section:nth-of-type(1){ background:#5f514f;
}
section:nth-of-type(2){background:#440808fa;
  z-index: -1;}
section:nth-of-type(3){background:#2c5a419d;} 
section:nth-of-type(4){background:#a79797;}   
.DY{border: 1px solid red;}  
 
/* sec02 */
section.sec02{
  background: url(../imges/index/na01.png)  no-repeat;
  background-size: cover;
}
.sec02 h1{

  font-size: 3rem;
  color: #000;
}
.sec02 span{
  color: #b40303;
  font-size: 0.9rem;
}
.sec02.text{
  display: flex;
    width: 100%;
    height: 405px;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.sec02.title{

  background-size: cover;
  font-size: 2rem;
  color: #000;
  padding-left: 5px; 
}
.sec02.text02 p{ 
font-size: 1rem;
}
.sec02.imgBox{
display: flex;
}
.sec02.text01 p{
  padding-left: 10px;
}



.sec02.innerimg{
    background: url(../imges/index/redall1.png) no-repeat;
    background-size: contain;
    width:850px;
    height: 1000px; 
    margin: -49px -206px 0 200px;
    z-index: 1;
}
.sec02.inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}  
.sec02.inner01{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  height: 600px;
 
}
.sec02.inner01 p{
  font-size: 1.1rem;
  color: #1d1c1c;
}

.sec02.text01{
  border: 1px solid rgba(75, 35, 35, 0.5);
  border-radius:15px;
  margin-bottom: 5px;
}
.sec02.text{
  padding: 5px;
  border: 1px solid rgba(75, 35, 35, 0.5);
  border-radius:15px;
}
.main {
  font-size: 1rem;
  text-align: center;
  margin:  66px 10px 0 10px;
  border: 1px solid rgba(75, 35, 35, 0.5);
  border-radius:20px;
  padding: 12px 0 12px 0;
  width: 120px;
  height: 50px;
}
.page{
  display: flex;
  justify-content: center;
  
}

.main:hover{
  background-color: #df8c867d;
  background-size: contain;
}



/* SEC03 */
.sec03.title{
  background-color: #df8c867d;
  background-size: cover;
  font-size: 2rem;
  color: #000;
  padding-left: 5px;
  
}








/* sec04 */
.sec04 h1{
  font-size: 5rem;
  
}
.sec04 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  font-family: Abril Fatface;
  font-size: 2rem;
  color: #421010;
  margin: 0 auto;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
}
.Contact{
  margin-top: -300px;
} 