@charset "utf-8";

body {
    min-width: 320px;
    overflow-x: hidden;


}

.img_responsive {
    width: 100%;
    height: auto;
}

.sec01 .swiper {
    height: 200px;
    box-sizing: border-box;
}

.menu01 a>p {
    font-size: 0.9rem;
    margin: 15px 13px 6px 13px;
}

.menu01 a>p {
    font-size: 0.8rem;
}

header .top .inner {
    max-width: 320px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.title_1 {
    color: rgb(110, 100, 90);
    font-size: 1rem;
}


header .top .inner .logo {
    width: 158px;
    height: 56px;
}

.sec02 .menu01>a {
    margin: auto;
}

.icon08::after {
    padding: 0px 18px 0px 24px;
}

.icon01::after,
.icon02::after,
.icon03::after,
.icon04::after,
.icon05::after,
.icon06::after,
.icon07::after,
.icon08::after {
    font-size: 1.8rem;
}

video {
    margin: -180px 0px 0 0px;
    height: 200px;
}

.tabmenu label {
    padding: 5px 0px;
    width: 58px;
    font-size: 0.8px;
}

.tabmenu>div {
    width: 320px;
}

.tabmenu {
    overflow: visible;
}

.sec04 h2 {
    padding: 15px;
    font-size: 1.5rem;
}

.bloodimg h2 {
    font-size: 0.8rem;
}

#counter1,
#counter2,
#counter3,
#counter4 {
    font-size: 1rem;
}

.downloadimg {
    display: none;
}

.redconnect {
    margin: 170px 0 -40px 0px;
}

.blood {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.bloodlist .bloodimg {
    position: relative;
    display: flex;
    width: 16%;
}

.sec02 .menu {
    margin: none
}

.sec02 {
    margin-top: 60px;
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    align-items: center;
}

.redconnecttext h1 {
    font-size: 1rem;
}

.redconnecttext span {
    font-size: 0.8rem;
}

.redconnecttext h3 {
    font-size: 0.9rem;
}


.sec03 {
    flex-direction: column;
    height: 535px;
}


.tabmenu label {
    display: inline-block;
    width: 72px;
}

.callbox {
    margin: 24px 1px 16px 0px;
}

.footer_logo {
    margin: 0 15px 0 27px;
}

.footerlogo {
    width: 286px;
    height: 53px;
}

footer {
    font-size: 0.7rem;
}


footer {
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
    height: 500px;
}

footer .box {
    display: flex;
    flex-direction: column;
    height: 20px;
}

#cont1 ul>li a,
#cont2 ul>li a,
#cont3 ul>li a,
#cont4 ul>li a {
    font-size: 0.7rem;
    padding: 10px;
}

.downloadbox {
    border: none;
    font-size: 0.7rem;
}

.footerlist {
    margin: 3px 0 0 29px;
}

.footerinner {
    font-size: 0.8rem;
}

.footerinner01:first-child a::after {
    display: none;
}

.footerinner01 {
    display: flex;
    flex-direction: column;

}

.grid-recipe {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
    grid-gap: 1em;
    margin: 65px 58px 0px 30px;
    justify-items: center;
    justify-items: center;
}

.grid-recipe {
    margin: 87px 50px 0px 50px;
}

.web {
    left: 0px;
}